
<form [formGroup]="mantenedoraForm" novalidate>
  <div class="panel">
    <div class="panel-body">

      <div class="row">

        <div class="col-xs-6">
          <input-container label="Código">
            <input type="text" class="form-control" placeholder="codigo" formControlName="codigo" autocomplete="off">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Nome">
            <input type="text" class="form-control" placeholder="nome" formControlName="nome" autocomplete="off">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="NumeroFiscal">
            <input type="number" class="form-control" placeholder="numero fiscal" formControlName="numeroFiscal" autocomplete="off">
          </input-container>
        </div>

        <div class="col-xs-6">
          <input-container label="Endereco">
            <input type="text" class="form-control" placeholder="endereço" formControlName="endereco" autocomplete="off">
          </input-container>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button [routerLink]="['/mantenedora/alterar', mantenedora.id]" class="btn btn-primary">
        Alterar
      </button>
      <button [routerLink]="['/mantenedora/']" class="btn btn-default">
        Voltar
      </button>
    </div>
  </div>
</form>
